:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: rgb(255 255 255);
  --alt-bg-color: rgb(223 223 223);
}

html {
  display: block;
  width: 100%;
}

body {
  background-color: rgb(35, 35, 35);
  color: #f9faffde;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  display: flex;
  text-shadow: #858ebc -2px 2px 8px;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div.door {
  text-align: center;
  cursor: pointer;
  line-height: 15px;
  margin: 0 15px;
  animation: magic 1s ease-in 1;
  text-transform: lowercase;
  transform-origin: left;
  transform: rotateY(0deg);
  z-index: 100;
  background-color: #232323f7;
}

.word {
  z-index: 50;
  position: absolute;
  font-size: 220px;
  width: 200px;
  text-align: center;
  line-break: anywhere;
  line-height: 65px;
}

@keyframes magic {
  0% {
    /* line-height: 15px; */
    opacity: 0;
  }
  50% {
    /* opacity: 0.2; */
  }
  100% {
    /* line-height: 40px;s */
    opacity: 1;
  }
}